@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500&family=Ruda:wght@400;700&display=swap');

html {
  box-sizing:border-box;
}
*{
  box-sizing: inherit;
}

body{
  font-family: 'Poppins', Calibri, sans-serif;
  background-color: white;
  word-wrap: normal;
}

/*link styles*/
a{
  text-decoration: none;
  border-bottom: 1px dotted #9b816d;
  padding-bottom: .01em;


}
a:link{
  color:#ea9423;
}
a:visited {
  color: #9b816d;
  
}
a:focus, a:hover, a:active {
  color:#FFFF;
  background-color: #ea9423;
  font-weight:bold;
}
/*header styles*/
header{
  text-align: center;
  font-family: 'Ruda', sans-serif;
  font-weight: bolder;
}
header h2{
  letter-spacing: 2px;
  font-size: smaller;
}
nav ul{
  /*background-color: #512D38;
  color:gold;
  list-style: none;*/
  list-style: none;
  text-align: left;
  display: inline-flex;

}
nav li{
  padding-left: 10px;
  padding-right: 10px;
}
nav a{
  border:none;
}

/*content styles*/
h2,h1{
  font-family: 'Ruda', sans-serif;
}
main{
  padding: 1em;
  margin: 2em;
}
article{
 border:#3a3029;
 border-radius: 2px;
}

main .intro{
  border-top: 1px dotted;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #ea94239d;
  padding-bottom: 1em;
  border-radius: .5em;
}
#about img{
  float: left;
  margin: 0 1em 1em 0;
}
#about{
 border: 2px dotted;
 border-width: 1px;
 color:darkslategray;
 padding:1em;
}
#skills{
  clear: left;
}

#previous:before{
  content: "\25C0    ";
  margin-left:.5em;
}
#next:after{
content:"    \25B6";
margin-right:.5em;
}
#intro-info{
  font-size: smaller;
}
#tagline{
  font-size:medium;
  color:rgb(27, 102, 73);
  font-style: italic;
}

img{
  border-radius: 3px;
}
.art-desc{
  border-top:  medium double #3a3029a5;
}
.art-desc figcaption{
  font-style: italic;
  font-size: small;
}

/*list styles*/
.list-posts ul{
list-style: none;
margin-right:40%;

}
.list-posts li{
  border: 3px dotted;
  border-radius: 1em;
  padding:1em;
  margin: 2em;
  background-color: rgba(147, 180, 241, 0.2);
}
.list-posts li:hover, li:active, li:focus{
background-color: #ea9423;
color:white;
}

.list-posts a{
  font-weight: bolder;
  color:#3a3029;
  border:none;
}

/*TABLES*/
table{
  border:.07em solid;
  border-radius: 3px;
}
td, th{
  border: 1px solid gray;
  text-align: center;
}
table caption{
  padding-top: 2em;
  font-family: 'Ruda', sans-serif;
  font-weight: bolder;
  font-size: large;
}
/* FORMS*/
fieldset{
  border-radius: 3px;
  padding-left: 1em;
}
fieldset ul li{
  list-style: none;
}

/*footer styles*/

footer{
  padding: 1em;
  background-color: #3a3029;
  border-radius: 5px;
  color:antiquewhite;
  font-weight: bolder;
  padding:2em;
  text-align: right;
}